@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */
/* Colors */
/* Spacing */
h1 {
  font-family: "Space Mono", monospace;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  color: #495567;
}

h3 {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142687px;
  color: #495567;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285374px;
  color: #495567;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #939CAA;
}

a {
  font-family: "Space Mono", monospace;
  font-size: 15px;
  font-weight: 700;
}

a:hover, a:focus {
  color: #fcb62b !important;
}

.button {
  color: #FFFFFF;
  background-color: #fcb62b;
  width: 183px;
  height: 53px;
  display: block;
  text-align: center;
  line-height: 55px;
  transition: ease-in-out 0.4s color, background-color, border;
}

.button:hover, .button:focus {
  background-color: #FFFFFF;
  transition: ease-in-out 0.4s color, background-color, border;
  border: #fcb62b solid 3px;
  height: 48px;
  width: 178px;
  line-height: 48px;
}

.intro .container .content-p a:hover, .intro .container .content-p a:focus {
  background-color: transparent;
  transition: ease-in-out 0.4s color, background-color, border;
  border: #fcb62b solid 3px;
  height: 48px;
  width: 178px;
  line-height: 48px;
}

.container {
  max-width: 1106px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  transition: top 0.3s;
}
header .mobile {
  display: none;
}
header .hamburger {
  display: none;
}
header .x {
  display: none;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 96px;
  align-items: center;
  margin: auto;
}
header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
header .header-left .nav__hamburger {
  display: none;
}
header .header-left img {
  width: 100%;
  height: 100%;
}
header .header-left nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
header .header-left nav ul a {
  font-family: "Space Mono", monospace;
  color: #939CAA;
  font-size: 15px;
}

footer .footer-up {
  background-color: #495567;
  position: relative;
  overflow: hidden;
}
footer .footer-up .container {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 300px;
}
footer .footer-up .container .footer-up-left {
  justify-self: left;
}
footer .footer-up .container .footer-up-left h2 {
  color: #FFFFFF;
  width: 415px;
}
footer .footer-up .container .footer-up-right {
  justify-self: right;
  display: flex;
  column-gap: 18px;
}
footer .footer-up .container .footer-up-right .link-download {
  display: inline-block;
  height: 56px;
  position: relative;
  z-index: 2;
}
footer .footer-up .container .footer-up-right .link-download img {
  width: 100%;
  height: auto;
  z-index: -1;
}
footer .footer-up .container::after {
  content: "";
  width: 1200px;
  height: 347px;
  background: url("./assets/icons/circles.svg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 130px;
  left: 470px;
}
footer .footer-down {
  background-color: #333A44;
  overflow-x: hidden;
}
footer .footer-down .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  align-items: center;
}
footer .footer-down .container .footer-down-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
footer .footer-down .container .footer-down-left nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
footer .footer-down .container .footer-down-left nav ul a {
  font-family: "Space Mono", monospace;
  color: #939CAA;
  font-size: 15px;
}
footer .footer-down .container .footer-down-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
footer .footer-down .container .footer-down-right img {
  width: 100%;
  height: 100%;
  filter: invert(76%) sepia(72%) saturate(1023%) hue-rotate(336deg) brightness(103%) contrast(98%);
}
footer .footer-down .container .footer-down-right img:hover {
  filter: invert(93%) sepia(4%) saturate(786%) hue-rotate(188deg) brightness(102%) contrast(91%);
}

.intro {
  height: 100%;
  margin: 96px 0 160px 0;
  background-image: url("./assets/images/home/header-moto.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.intro .container {
  padding: 153px 0;
}
.intro .container .content-h1 {
  width: 50%;
  margin-bottom: 40px;
}
.intro .container .content-h1 h1 {
  color: #FFFFFF;
}
.intro .container .content-p {
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  position: relative;
}
.intro .container .content-p p {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.intro .container .content-p p::after {
  content: "";
  width: 2000px;
  height: 15px;
  background: url("./assets/icons/line-color.svg");
  background-size: cover;
  position: absolute;
  top: 49px;
  right: 460px;
}
.intro .container .content-p::after {
  content: "";
  width: 1000px;
  height: 150px;
  background: url("./assets/icons/arrow-down-right-small.svg") no-repeat;
  position: absolute;
  top: 50px;
  left: 540px;
}
.intro .container .content-p a:hover a:focus {
  color: #FFFFFF !important;
  background-color: transparent !important;
  width: 178.2px;
  height: 48.2px;
  line-height: 51px;
}
.intro .container::after {
  content: "";
  width: 200px;
  height: 62px;
  background: url("./assets/icons/round.svg") no-repeat;
  position: absolute;
  right: 0;
  top: 423px;
}
.intro::before {
  content: "";
  background-color: #2F3B59;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.first-section::before {
  content: "";
  width: 2000px;
  height: 15px;
  background: url("./assets/icons/line-grey.svg");
  position: relative;
  top: 56px;
  right: 1200px;
  z-index: -1;
}
.first-section .first-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 200px;
}
.first-section .first-section-container .first-section-child {
  display: grid;
  grid-template-rows: auto auto;
}
.first-section .first-section-container .first-section-child .first-section-element img {
  width: 96px;
  height: 96px;
  margin-bottom: 40px;
}
.first-section .first-section-container .first-section-child .first-section-element p {
  color: #939CAA;
  margin-top: 36px;
}

.second-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 160px;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
}
.second-section-container .second-section-child {
  width: 80%;
  position: relative;
}
.second-section-container .second-section-child h2 {
  color: #495567;
}
.second-section-container .second-section-child p {
  color: #939CAA;
  margin: 24px 0 40px 0;
}
.second-section-container .second-section-child img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}
.second-section-container .second-section-child:nth-child(3)::before {
  content: "";
  width: 445px;
  height: 445px;
  background: url("./assets/icons/big-circle.svg");
  position: absolute;
  top: 0px;
  left: -509px;
}
.second-section-container .second-section-child:nth-child(3)::after {
  content: "";
  width: 3000px;
  height: 150px;
  background: url("./assets/icons/arrow-down-right.svg") no-repeat;
  position: absolute;
  top: 0px;
  right: -470px;
}
.second-section-container .second-section-child:nth-child(6)::after {
  content: "";
  width: 2000px;
  height: 150px;
  background: url("./assets/icons/arrow-down-left.svg") no-repeat;
  position: absolute;
  top: 77px;
  left: 246px;
}
.second-section-container .arrow-down-left::after {
  content: "";
  width: 2300px;
  height: 150px;
  background: url("./assets/icons/arrow-down-left.svg") no-repeat;
  position: absolute;
  top: 300px;
  left: -125px;
}
.second-section-container .right-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-end;
}
.second-section-container .circle-img-right {
  display: inline-flex;
  flex-direction: column;
  justify-self: flex-end;
  position: relative;
}
.second-section-container .circle-img-right::before {
  content: "";
  width: 445px;
  height: 445px;
  background: url("./assets/icons/big-circle.svg");
  position: absolute;
  left: 509px;
}

body {
  overflow-x: hidden;
}

.picture__section__about {
  background-image: url("./assets/images/carrefour.png");
  background-position-y: 43%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
  margin-top: 96px;
}
.picture__section__about .container__intro {
  margin: auto;
  width: 1106px;
}
.picture__section__about .container__intro h1 {
  color: #FFFFFF;
}
.picture__section__about .container__intro img {
  position: absolute;
  top: 35%;
  right: 0;
}
.picture__section__about::before {
  content: "";
  background-color: #2F3B59;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
}

.second-section-container {
  grid-template-rows: 1fr 1fr;
  margin: 120px 0;
}
.second-section-container .arrow-up-left::after {
  content: "";
  width: 2000px;
  height: 150px;
  background: url("./assets/icons/arrow-up-left.svg") no-repeat;
  position: absolute;
  top: 273px;
  left: -124px;
}

.FAQs {
  margin-bottom: 160px;
}
.FAQs .FAQs-title {
  margin-bottom: 64px;
}
.FAQs .FAQs-title h2 {
  display: flex;
  justify-content: center;
}
.FAQs .FAQs-container {
  display: grid;
  grid-template-columns: 1fr 730px;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 64px;
}
.FAQs .FAQs-container .FAQs-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question {
  background-color: #F2F5F9;
  padding: 32px 40px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question:hover {
  background-color: #FFF4DF;
  cursor: pointer;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question .FAQs-title-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question p {
  margin-top: 24px;
  display: none;
}
.FAQs .FAQs-container .FAQs-child h4 {
  position: relative;
}

.picture__section {
  background-image: url("./assets/images/carrefour.png");
  background-position-y: 96%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
  margin-top: 96px;
}
.picture__section .container__intro {
  margin: auto;
  width: 1106px;
}
.picture__section .container__intro h1 {
  color: #FFFFFF;
}
.picture__section .container__intro img {
  position: absolute;
  top: 35%;
  right: 0;
}
.picture__section::before {
  content: "";
  background-color: #2F3B59;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
}

.maps {
  margin: 100px 0;
  position: relative;
}
.maps img {
  max-width: 100%;
}
.maps__info {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  gap: 50px;
  margin: 100px 0;
}
.maps__info p {
  max-width: 445px;
}
.maps__info h2 {
  color: #495567;
}
.maps__info a:hover, .maps__info a:focus {
  line-height: 50px;
}
.maps .forme {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.maps .forme .rectangle {
  background-color: #fcb62b;
  text-align: center;
  width: 189px;
  height: 72px;
}
.maps .forme .rectangle h4 {
  line-height: 72px;
}
.maps .forme .triangle {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #fcb62b;
  margin: 0 auto;
}
.maps .point {
  display: none;
}

.list-city {
  display: none;
}

.london {
  top: 2%;
  left: 35.8%;
}

.newyork {
  top: 61px;
  left: 155px;
}

.yokohama {
  top: 79.6px;
  right: 63.2px;
}

.jakarta {
  bottom: 207px;
  right: 141px;
}

.main__grid {
  display: flex;
}

.second-section-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 70px;
}

.join {
  text-align: center;
}
.join h2 {
  margin-bottom: 98px;
}
.join img {
  border-radius: 100%;
}
.join .para {
  background-color: #fcb62b;
  border-radius: 100%;
  position: absolute;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 42%;
}
.join .para p {
  font-family: "Space Mono", monospace;
  color: #495567;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285374px;
}
.join .flex_join {
  display: flex;
  column-gap: 30px;
}
.join .flex_join .elem_join {
  width: 350px;
  display: flex;
  height: 512px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.join .flex_join .para--last {
  margin-top: 20px;
}
.join .h4-join {
  margin-top: 100px;
}

.space-section {
  margin: 55px 0px;
}

.grid__apply {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 105px;
}
.grid__apply .box {
  display: flex;
  background-color: #F2F5F9;
  justify-content: space-between;
  padding: 38px;
  gap: 24px;
}
.grid__apply .box p {
  color: #495567;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .container.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .container .content-p p::after {
    display: none;
  }
  .intro .container .content-h1 h1 {
    text-align: center;
  }
  .intro .container .content-p {
    padding-left: 0;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .intro .container .content-p::after {
    top: 163px;
    left: -222px;
  }
  .intro .container::after {
    top: 543px;
  }
  .intro .container .content-h1 {
    width: 573px;
  }
  .intro {
    background-position-x: 75%;
    margin: 96px 0 0 0;
  }
  .first-section {
    margin: 0px 97px;
  }
  .first-section::before {
    display: none;
  }
  .first-section-element-relative {
    position: relative;
    background-color: white;
  }
  .first-section-element-relative::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 1100px;
    background: #E5ECF4;
    bottom: 96px;
    left: 40px;
    z-index: -1;
  }
  .first-section .first-section-container {
    grid-template-columns: 1fr;
    margin-top: 125px;
    margin-bottom: 145px;
  }
  .first-section .first-section-container .first-section-child {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .first-section .first-section-container .first-section-child:nth-child(2) {
    margin: 40px 0;
  }
  .first-section .first-section-container .first-section-child .first-section-element p {
    margin-top: 33px;
  }
  .second-section-container {
    margin-top: 0;
    margin-bottom: 104px;
    row-gap: 64px;
  }
  .grid1:nth-child(1) {
    order: 6 !important;
    margin-bottom: 56px;
  }
  .grid2:nth-child(2) {
    order: 6 !important;
  }
  .grid3:nth-child(3) {
    order: 5 !important;
  }
  .grid4:nth-child(4) {
    order: 3 !important;
    margin-bottom: 56px;
  }
  .grid5:nth-child(5) {
    order: 1 !important;
  }
  .grid6:nth-child(6) {
    order: 2 !important;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 768px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .picture__section__about .container__intro {
    width: 768px;
  }
  .picture__section__about .container__intro h1 {
    margin-left: 100px;
  }
  .second-section-container .second-section-child {
    display: flex;
  }
  .second-section-container .second-section-child:nth-child(3) {
    order: 1;
  }
  .second-section-container .second-section-child:nth-child(4) {
    order: 0;
  }
  .second-section-container .second-section-child:nth-child(2) {
    order: 2;
  }
  .second-section-container .second-section-child:nth-child(1) {
    order: 2;
  }
  .FAQs .FAQs-container {
    grid-template-columns: auto;
  }
  .FAQs .FAQs-container .FAQs-child h3 {
    text-align: center;
  }
  .second-section-container .arrow-up-left::after {
    left: -50px;
  }
  .second-section-container .circle-img-right::before {
    left: 500px;
  }
  .FAQs {
    margin: 160px 39px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .picture__section {
    background-position-y: 95%;
    background-position-x: 55%;
    background-size: 256%;
  }
  .maps__info p {
    max-width: 573px;
    text-align: center;
  }
  .picture__section .container__intro h1 {
    color: #FFFFFF;
  }
  .maps__info {
    display: flex;
    flex-direction: column;
  }
  .maps__info h2 {
    max-width: 457px;
    text-align: center;
  }
  .maps .forme .rectangle {
    background-color: #fcb62b;
    text-align: center;
    width: 120px;
    height: 32px;
  }
  .maps .forme .rectangle h4 {
    font-size: 13px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.5803571343px;
  }
  .picture__section .container__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: inherit;
  }
  .maps .forme .triangle {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fcb62b;
  }
  .london {
    top: 7%;
    left: 35.4%;
  }
  .newyork {
    top: 15.8%;
    left: 13.5%;
  }
  .jakarta {
    bottom: 39.9%;
    right: 14.4%;
  }
  .yokohama {
    top: 19.1%;
    right: 6.1%;
  }
}
@media screen and (max-width: 768px) {
  .second-section-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .second-section-container .second-section-child h1 {
    text-align: center;
  }
  .second-section-container .second-section-child p {
    text-align: center;
  }
  .second-section-container .second-section-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
  }
  .second-section-container .arrow-down-left::after {
    left: -45px;
  }
  .join .flex_join {
    flex-direction: column;
    align-items: center;
  }
  .second-section-container .second-section-child h2 {
    text-align: center;
  }
  .second-section-container .second-section-child:nth-child(3)::after {
    right: -381px;
  }
  .join .flex_join .elem_join {
    width: 460px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  header {
    width: 100%;
  }
  header .container {
    width: 100%;
    margin: 0 39px;
  }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  footer .footer-up {
    height: 300px;
  }
  footer .footer-up .container {
    width: 689px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 46px;
    margin: 46px auto;
    height: 200px;
  }
  footer .footer-up .container .footer-up-left {
    justify-self: center;
    text-align: center;
  }
  footer .footer-up .container .footer-up-right {
    justify-self: center;
  }
  footer .footer-down .container {
    max-width: 689px;
  }
  footer .footer-up .container::after {
    top: 110px;
    left: -250px;
  }
}
@media screen and (max-width: 376px) {
  .container {
    max-width: 375px;
    margin: 0 28px;
  }
  a {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #E5ECF4;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 18px;
  }
  a.button {
    font-size: 15px;
  }
}
@media screen and (max-width: 376px) {
  .intro .container {
    padding: 115px 0 179px 0;
  }
  .intro .container::after {
    display: none;
  }
  .intro {
    margin: 64px 0 0 0;
    background-position-x: 100%;
  }
  .intro .container .content-h1 {
    width: 100%;
    margin-bottom: 24px;
  }
  .intro .container .content-p::after {
    top: 215px;
    left: -340px;
  }
  .first-section-element-relative::before {
    display: none;
  }
  .first-section .first-section-container {
    margin: 120px 0;
  }
  .first-section .first-section-container .first-section-child {
    grid-template-columns: auto;
    text-align: center;
  }
  .first-section .first-section-container .first-section-child .first-section-element img {
    margin-bottom: 24px;
  }
  .first-section .first-section-container .first-section-child .first-section-element p {
    margin-top: 24px;
  }
  .first-section .first-section-container .first-section-child:nth-child(2) {
    margin: 48px 0;
  }
  .second-section-container {
    row-gap: 56px;
  }
  .second-section-container .second-section-child {
    width: 97%;
  }
  .second-section-container .second-section-child img {
    width: inherit;
    height: auto;
  }
  .second-section-container .second-section-child p {
    margin: 32px 0;
  }
  .second-section-container .arrow-down-left::after {
    top: 168px;
    left: 0;
  }
  .second-section-container .second-section-child:nth-child(3)::after {
    right: -650px;
    top: -6px;
  }
  .second-section-container .second-section-child:nth-child(6)::after {
    top: 0;
    left: 120px;
  }
}
@media screen and (max-width: 376px) {
  .picture__section__about .container__intro img {
    display: none;
  }
  .picture__section__about {
    margin-top: 64px;
  }
  .second-section-container {
    margin: 72px 0 120px 0;
  }
  .second-section-container .arrow-up-left::after {
    left: -16px;
    top: 124px;
  }
  .second-section-container .second-section-child-train:nth-child(3)::after {
    right: -724px;
  }
  .space-section {
    margin: 0 auto;
  }
  .join .flex_join {
    max-width: 311px;
  }
  .join img {
    width: inherit;
    height: auto;
  }
  .join .flex_join .elem_join {
    width: inherit;
  }
  .join h2 {
    margin-bottom: 64px;
  }
  .join .h4-join {
    margin-top: 64px;
  }
  .join .flex_join .para--last {
    margin-top: 27px;
  }
  .join .flex_join .elem_join {
    height: auto;
    margin-bottom: 56px;
  }
  .FAQs {
    margin: 89px auto 0 auto;
  }
  .FAQs .FAQs-title {
    margin-bottom: 40px;
  }
  .FAQs .FAQs-container {
    row-gap: 32px;
  }
  .FAQs-title-arrow img {
    width: 16px;
    height: auto;
  }
  .FAQs .FAQs-container {
    margin-bottom: 120px;
  }
  .FAQs .FAQs-container .FAQs-child h3 {
    margin-top: 8px;
  }
}
@media screen and (max-width: 376px) {
  .picture__section {
    height: 160px;
    background-position-y: 100%;
    background-position-x: center;
    background-size: 170%;
    justify-content: center;
    margin-top: 64px;
  }
  .picture__section .container__intro {
    width: auto;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .picture__section .container__intro img {
    display: none;
  }
  .maps {
    margin: 72px 0 40px 0;
  }
  .maps .forme {
    display: none;
  }
  .world-map {
    width: 100%;
    height: auto;
  }
  .maps__info {
    height: 306px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    gap: 32px;
    margin: 72px 0;
    position: relative;
  }
  .list-city {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .list-city-child {
    background-color: hsla(40, 97%, 58%, 0.15);
    text-align: center;
    padding: 22px 0;
  }
  .maps .point {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #FCB72B;
    border-radius: 50%;
    position: absolute;
  }
  .london {
    top: 15%;
    left: 40.5%;
  }
  .newyork {
    top: 18%;
    left: 22%;
  }
  .yokohama {
    top: 26%;
    right: 11%;
  }
  .jakarta {
    top: 55%;
    right: 18%;
  }
}
@media screen and (max-width: 376px) {
  .second-section-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .second-section-container .second-section-child h1 {
    text-align: center;
  }
  .second-section-container .second-section-child p {
    text-align: center;
  }
  .second-section-container .second-section-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second-section-container .circle-img-right::before {
    left: 550px;
  }
  .join .flex_join {
    flex-direction: column;
    align-items: center;
  }
  .grid__apply {
    margin-top: 89px;
    margin-bottom: 120px;
  }
  .grid__apply .box {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    padding: 36px 32px 32px 32px;
  }
  .grid__apply .box .button {
    width: 100%;
  }
}
@media screen and (max-width: 376px) {
  header {
    height: 64px;
  }
  header .container {
    width: 312px;
    height: inherit;
    margin: 0 39px;
    justify-content: flex-start;
  }
  .nav-header, .header-right {
    display: none !important;
  }
  img {
    width: 75px;
    height: 20px;
  }
  header .header-left .nav__hamburger {
    display: block;
    width: 20px;
    height: 16px;
  }
  header .header-left {
    gap: 62%;
  }
  header .header-left a img {
    width: 75px;
    height: auto;
  }
  input[type=checkbox] + label .hamburger {
    display: block !important;
    width: auto;
  }
  input[type=checkbox] + label .x {
    display: none !important;
    width: auto;
  }
  input[type=checkbox]:checked + label .back-opa {
    background-color: #000000;
    opacity: 74.73%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
  }
  input[type=checkbox]:checked + label a {
    color: #FFFFFF;
  }
  input[type=checkbox]:checked + label .mobile {
    display: block;
    position: absolute;
    background-color: #333A44;
    width: 70vw;
    height: 100vh;
    top: 100%;
    left: 0;
    z-index: 3;
  }
  input[type=checkbox]:checked + label .mobile--container {
    display: flex;
    width: inherit;
    height: calc(100% - 64px);
    justify-content: space-between;
    flex-direction: column;
  }
  input[type=checkbox]:checked + label .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 62px;
    margin-left: 34px;
  }
  input[type=checkbox]:checked + label .mobile-button {
    padding: 32px;
  }
  input[type=checkbox]:checked + label .button-wr {
    color: #FFFFFF;
    background-color: #fcb62b;
    width: auto;
    height: 53px;
    display: block;
    text-align: center;
    line-height: 55px;
    transition: ease-in-out 0.4s color, background-color, border;
  }
  input[type=checkbox]:checked + label .button-wr:hover, input[type=checkbox]:checked + label .button-wr:focus {
    background-color: #FFFFFF;
    transition: ease-in-out 0.4s color, background-color, border;
    border: #fcb62b solid 3px;
    height: 48px;
    line-height: 48px;
  }
  input[type=checkbox]:checked + label .hamburger {
    display: none !important;
  }
  input[type=checkbox]:checked + label .x {
    display: block !important;
    width: 20px !important;
    height: 16px !important;
  }
  header .hamburger {
    display: block !important;
  }
  .x {
    display: none;
  }
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  footer .footer-up {
    height: 320px;
  }
  footer .footer-up .container {
    max-width: 311px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 40px;
    margin: 88px auto;
    height: auto;
  }
  footer .footer-up .container .footer-up-left h2 {
    width: 100%;
  }
  footer .footer-up .container .footer-up-left {
    justify-self: center;
    text-align: center;
  }
  footer .footer-up .container .footer-up-right {
    justify-self: center;
  }
  .link-download img {
    width: 113.57px;
    height: 40px;
  }
  footer .footer-up .container::after {
    top: 110px;
    left: -640px;
  }
  footer .footer-down {
    height: 438px;
  }
  footer .footer-down .container {
    width: 286px;
    height: 120px;
    flex-direction: column;
    margin: 64px auto 88px auto;
  }
  footer .footer-down .container .footer-down-left {
    flex-direction: column;
    gap: 41px;
    margin-bottom: 85px;
  }
  footer .footer-down .container .footer-down-left nav ul {
    flex-direction: column;
    text-align: center;
    gap: 23px;
  }
  nav, .header-right {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */