@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */
/* Colors */
/* Spacing */
h1 {
  font-family: "Space Mono", monospace;
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #495567;
}

h2 {
  font-family: "Space Mono", monospace;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.1428570747px;
  color: #495567;
}

h3 {
  font-family: "Space Mono", monospace;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.7857142687px;
  color: #495567;
}

h4 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285374px;
  color: #495567;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #939CAA;
}

.button {
  color: #FFFFFF;
  background-color: #fcb62b;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  padding: 14px 39px;
}

.container {
  max-width: 1106px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  align-items: center;
}
header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
header .header-left img {
  width: 100%;
  height: 100%;
}
header .header-left nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
header .header-left nav ul a {
  font-family: "Space Mono", monospace;
  color: #939CAA;
  font-size: 15px;
}

footer .footer-up {
  background-color: #495567;
  position: relative;
  overflow: hidden;
}
footer .footer-up .container {
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 300px;
}
footer .footer-up .container .footer-up-left {
  justify-self: left;
}
footer .footer-up .container .footer-up-left h2 {
  color: #FFFFFF;
  width: 415px;
}
footer .footer-up .container .footer-up-right {
  justify-self: right;
  gap: 18px;
}
footer .footer-up .container::after {
  content: "";
  width: 1200px;
  height: 347px;
  background: url("./assets/icons/circles.svg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 130px;
  left: 470px;
}
footer .footer-down {
  background-color: #333A44;
  overflow-x: hidden;
}
footer .footer-down .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  align-items: center;
}
footer .footer-down .container .footer-down-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
footer .footer-down .container .footer-down-left nav ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
footer .footer-down .container .footer-down-left nav ul a {
  font-family: "Space Mono", monospace;
  color: #939CAA;
  font-size: 15px;
}
footer .footer-down .container .footer-down-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
footer .footer-down .container .footer-down-right img {
  width: 100%;
  height: 100%;
}

.intro {
  height: 650px;
  margin-bottom: 160px;
  background-image: url("./assets/images/home/header-moto.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.intro .container {
  padding: 153px 0;
}
.intro .container .content-h1 {
  width: 50%;
  margin-bottom: 40px;
}
.intro .container .content-h1 h1 {
  color: #FFFFFF;
}
.intro .container .content-p {
  width: 405px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  position: relative;
}
.intro .container .content-p p {
  color: #FFFFFF;
  margin-bottom: 40px;
}
.intro .container .content-p::after {
  content: "";
  width: 1000px;
  height: 150px;
  background: url("./assets/icons/arrow-down-right-small.svg") no-repeat;
  position: absolute;
  top: 50px;
  left: 540px;
}
.intro .container::after {
  content: "";
  width: 200px;
  height: 62px;
  background: url("./assets/icons/round.svg") no-repeat;
  position: absolute;
  right: 0;
  top: 423px;
}
.intro::after {
  content: "";
  width: 203px;
  height: 15px;
  background: url("./assets/icons/line-color.svg");
  background-size: cover;
  position: absolute;
  top: 348px;
}
.intro::before {
  content: "";
  background-color: #2F3B59;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
}

.first-section::before {
  content: "";
  width: 1000px;
  height: 15px;
  background: url("./assets/icons/line-grey.svg");
  position: relative;
  top: 56px;
  right: 200px;
  z-index: -1;
}
.first-section .first-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 200px;
}
.first-section .first-section-container .first-section-child img {
  width: 96px;
  height: 96px;
  margin-bottom: 40px;
}
.first-section .first-section-container .first-section-child p {
  color: #939CAA;
  margin-top: 36px;
}

.second-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 160px;
  align-items: center;
  margin-bottom: 200px;
  position: relative;
}
.second-section-container .second-section-child {
  width: 80%;
  position: relative;
}
.second-section-container .second-section-child h2 {
  color: #495567;
}
.second-section-container .second-section-child p {
  color: #939CAA;
  margin: 24px 0 40px 0;
}
.second-section-container .second-section-child img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}
.second-section-container .second-section-child:nth-child(3)::before {
  content: "";
  width: 445px;
  height: 445px;
  background: url("./assets/icons/big-circle.svg");
  position: absolute;
  top: 0px;
  left: -509px;
}
.second-section-container .second-section-child:nth-child(3)::after {
  content: "";
  width: 750px;
  height: 150px;
  background: url("./assets/icons/arrow-down-right.svg") no-repeat;
  position: absolute;
  top: 0px;
  left: -550px;
}
.second-section-container .second-section-child:nth-child(6)::after {
  content: "";
  width: 735px;
  height: 150px;
  background: url("./assets/icons/arrow-down-left.svg") no-repeat;
  position: absolute;
  top: 77px;
  left: 246px;
}
.second-section-container .arrow-down-left::after {
  content: "";
  width: 1000px;
  height: 150px;
  background: url("./assets/icons/arrow-down-left.svg") no-repeat;
  position: absolute;
  top: 300px;
  left: -125px;
}
.second-section-container .right-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-end;
}
.second-section-container .circle-img-right {
  display: inline-flex;
  flex-direction: column;
  justify-self: flex-end;
  position: relative;
}
.second-section-container .circle-img-right::before {
  content: "";
  width: 445px;
  height: 445px;
  background: url("./assets/icons/big-circle.svg");
  position: absolute;
  left: 509px;
}

body {
  overflow-x: hidden;
}

.pic-sec-about {
  background-image: url("./assets/images/carrefour.png");
  background-position-y: 43%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  z-index: 1;
}

.second-section-container {
  grid-template-rows: 1fr 1fr;
  margin: 120px 0;
}
.second-section-container .arrow-up-left::after {
  content: "";
  width: 1100px;
  height: 150px;
  background: url("./assets/icons/arrow-up-left.svg") no-repeat;
  position: absolute;
  top: 273px;
  left: -124px;
}

.FAQs {
  margin-bottom: 160px;
}
.FAQs .FAQs-title {
  margin-bottom: 64px;
}
.FAQs .FAQs-title h2 {
  display: flex;
  justify-content: center;
}
.FAQs .FAQs-container {
  display: grid;
  grid-template-columns: 1fr 730px;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 64px;
}
.FAQs .FAQs-container .FAQs-child {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question {
  background-color: #F2F5F9;
  padding: 32px 40px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question p {
  margin-top: 24px;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question h4 {
  position: relative;
}
.FAQs .FAQs-container .FAQs-child .FAQs-question h4::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("./assets/icons/faq-closed.svg") no-repeat;
  position: absolute;
  top: 10px;
  right: 0px;
}

.picture__section {
  background-image: url("./assets/images/carrefour.png");
  background-position-y: 96%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  z-index: 1;
}
.picture__section .container__intro {
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  margin: auto;
  width: 1106px;
}
.picture__section .container__intro h1 {
  color: #FFFFFF;
}
.picture__section .container__intro img {
  position: absolute;
  right: 0;
}
.picture__section::before {
  content: "";
  background-color: #2F3B59;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  z-index: -1;
}

.maps {
  margin: 100px 0;
  position: relative;
}
.maps img {
  width: 100%;
  height: auto;
}
.maps__info {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1.4fr 0.6fr;
  gap: 50px;
  margin: 100px 0;
}
.maps__info p {
  width: 445px;
}
.maps__info h2 {
  color: #495567;
}
.maps__info .button {
  height: fit-content;
  padding: 15px 45px;
}
.maps .forme {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #495567;
  position: absolute;
  width: fit-content;
}
.maps .forme .rectangle {
  background-color: #fcb62b;
  padding: 27px 53px;
  text-align: center;
}
.maps .forme .triangle {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #fcb62b;
  margin: 0 auto;
}

.london {
  top: 7px;
  left: 392px;
}

.newyork {
  top: 61px;
  left: 129px;
}

.yokohama {
  top: 67.6px;
  right: 50.2px;
}

.jakarta {
  bottom: 207px;
  right: 134px;
}

.main__grid {
  display: flex;
}

.second-section-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 70px;
}

.join {
  position: relative;
  text-align: center;
}
.join h2 {
  margin-bottom: 98px;
}
.join img {
  border-radius: 100%;
}
.join .para {
  background-color: #fcb62b;
  border-radius: 100%;
  position: absolute;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 171px;
}
.join .para__1 {
  left: 145px;
}
.join .para__2 {
  left: 515px;
}
.join .para__3 {
  left: 875px;
}
.join .para p {
  font-family: "Space Mono", monospace;
  color: #495567;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.0714285374px;
}
.join .flex_join {
  display: flex;
  column-gap: 30px;
}
.join .flex_join .elem_join {
  width: 350px;
  height: 512px;
}
.join .flex_join .para--last {
  margin-top: 20px;
}
.join .h4-join {
  margin-top: 100px;
}

.space-section {
  margin: 55px 0px;
}

.grid__apply {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 105px;
}
.grid__apply .box {
  display: flex;
  background-color: #F2F5F9;
  justify-content: space-between;
  padding: 38px;
  gap: 24px;
}
.grid__apply .button {
  padding: 14px 66px;
}/*# sourceMappingURL=style.css.map */