@use './variable.scss';

.picture__section__about {
    background-image: url("./assets/images/carrefour.png");
    background-position-y: 43%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    z-index: 1;

    .container__intro{
        display: grid;
        grid-template-columns: 1.7fr 0.3fr;
        margin: auto;
        width: 1106px;

        h1{
            color: variable.$color-white;
        }

        img{
            position: absolute;
            right: 0;
        }
    }

    &::before{
        content: '';
        background-color: #2F3B59;
        opacity: 75%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        z-index: -1;
    }
    
}

.second-section-container {
    grid-template-rows: 1fr 1fr;
    margin: 120px 0;
    .arrow-up-left::after {
        content: '';
        width: 2000px;
        height: 150px;
        background: url('./assets/icons/arrow-up-left.svg')  no-repeat;
        position: absolute;
        top: 273px;
        left: -124px;
    }
}

.FAQs {
    margin-bottom: 160px;
    .FAQs-title {
        margin-bottom: 64px;
        h2 {
            display: flex;
            justify-content: center;
        }
    }
    .FAQs-container {
        display: grid;
        grid-template-columns: 1fr 730px;
        grid-template-rows: auto auto;
        column-gap: 30px;
        row-gap: 64px;
        .FAQs-child {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .FAQs-question {
                background-color: variable.$color-snow;
                padding: 32px 40px;

                &:hover{
                    background-color: variable.$color-light-yellow;
                }
                p {
                    margin-top: 24px;
                }
                h4 {
                    position: relative;
                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background: url('./assets/icons/faq-closed.svg') no-repeat;
                        position: absolute; 
                        top: 10px;
                        right: 0px;
                    }
                }

            }
        }
    }
}