@use './variable.scss';

.main__grid{
    display: flex;
}

.second-section-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 70px;
}

.join{
    text-align: center;

    h2{
        margin-bottom: 98px;
    }

    img{
        border-radius: 100%;
    }
    .para{
        background-color: variable.$color-yellow;
        border-radius: 100%;
        position: absolute;
        width: 96px;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 42%;

        p{
            font-family: variable.$family-space;
            color: variable.$color-dark-navy;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -1.0714285373687744px;
        }
    }

    .flex_join{
        display: flex;
        column-gap: 30px;

        .elem_join {
            width: 350px;
            display: flex;
            height: 512px;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .para--last{
            margin-top: 20px;
        }
    }

    .h4-join{
        margin-top: 100px;
    }

}

.space-section{
    margin: 55px 0px;
}




.grid__apply{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 105px;

    .box{
        display: flex;
        background-color: variable.$color-snow;
        justify-content: space-between;
        padding: 38px;
        gap: 24px;
        p {
            color: variable.$color-dark-navy;
        }
    }
}

