
.main__grid{
    display: flex;

    
}

.grid__apply{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
    .box{
        background-color: variable.$color-snow;
    }
}

