@use './variable.scss';

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    align-items: center;
    background-color: variable.$color-white;

    //position: fixed; 
    // top: -96px; /* Set the initial position off-screen */ 
    // transition: top 0.3s; /* Add a smooth transition for the header movement */ 
    z-index: 2;

    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
        img {
            width: 100%;
            height: 100%;
        }
        nav {
            ul {
                display: flex;
                flex-direction: row;
                gap: 32px;
                a {
                    font-family: variable.$family-space;
                    color: variable.$color-dim-gray;
                    font-size: 15px;
                }
            }
        }
    }
}