@use './variable.scss';

.intro {
    height: 650px;
    margin-bottom: 160px;
    background-image: url('./assets/images/home/header-moto.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    .container {
        padding: 153px 0;
        .content-h1 {
            width: 50%;
            margin-bottom: 40px;
            h1 {
                color: variable.$color-white;
            }
        }
        .content-p {
            width: 405px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 10%;
            position: relative;
            p {
                color: variable.$color-white;
                margin-bottom: 40px;
            }
            &::after {
                content: '';
                width: 1000px;
                height: 150px;
                background: url('./assets/icons/arrow-down-right-small.svg') no-repeat;
                position: absolute; 
                top: 50px;
                left: 540px;
            }
        }
        &::after {
            content: '';
            width: 200px;
            height: 62px;
            background: url('./assets/icons/round.svg') no-repeat;
            position: absolute; 
            right: 0;
            top: 423px;
        }
    }
    &::after {
        content: '';
        width: 203px;
        height: 15px;
        background: url('./assets/icons/line-color.svg');
        background-size: cover;
        position: absolute; 
        top: 348px;
    }
    &::before {
        content: '';
        background-color: #2F3B59;
        opacity: 75%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        z-index: -1;
    }
}

.first-section {
    &::before {
        content: '';
        width: 1000px;
        height: 15px;
        background: url('./assets/icons/line-grey.svg');
        position: relative; 
        top: 56px;
        right: 200px;
        z-index: -1;
    }
    .first-section-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-bottom: 200px;
        .first-section-child {
            img {
                width: 96px;
                height: 96px;
                margin-bottom: 40px;
            }
            p {
                color: variable.$color-dim-gray;
                margin-top: 36px;
            }
        }
    }
}

.second-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 160px;
    align-items: center;
    margin-bottom: 200px;
    // position: relative;
    .second-section-child {
        width: 80%;
        position: relative;
        h2 {
            color: variable.$color-dark-navy;
        }
        p {
            color: variable.$color-dim-gray;
            margin: 24px 0 40px 0;
        }
        img {
            width: 445px;
            height: 445px;
            border-radius: 50%;
        }
        &:nth-child(3)::before {
            content: '';
            width: 445px;
            height: 445px;
            background: url('./assets/icons/big-circle.svg');
            position: absolute;
            top: 0px;
            left: -509px;
        }
        &:nth-child(2)::after {
            content: '';
            width: 1000px;
            height: 150px;
            background: url('./assets/icons/arrow-down-left.svg')  no-repeat;
            position: absolute;
            top: 299px;
            left: -125px;
        }
        &:nth-child(3)::after {
            content: '';
            width: 750px;
            height: 150px;
            background: url('./assets/icons/arrow-down-right.svg')  no-repeat;
            position: absolute;
            top: 0px;
            left: -550px;
        }
        &:nth-child(6)::after {
            content: '';
            width: 735px;
            height: 150px;
            background: url('./assets/icons/arrow-down-left.svg')  no-repeat;
            position: absolute;
            top: 77px;
            left: 246px;
        }
    }

    .right-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-self: flex-end;
    }

    .circle-img-right {
        display: inline-flex;
        flex-direction: column;
        justify-self: flex-end;
        position: relative;
        &::before {
            content: '';
            width: 445px;
            height: 445px;
            background: url('./assets/icons/big-circle.svg');
            position: absolute; 
            left: 509px;
        }
    }

    
}

body {
    overflow-x: hidden;
}