@use "../scss/reset.scss";
@use "../scss/variable.scss";
@use "../scss/footer.scss";
@use "../scss/header.scss";

.picture__section{
    background-image: url("./assets/images/carrefour.png");
    background-position-y: 96%;
    color: variable.$color-white;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    align-items: center;
    z-index: 1;

    .container__intro{
        display: grid;
        grid-template-columns: 1.7fr 0.3fr;
        margin: auto;
        width: 1106px;
        img{
            position: absolute;
            right: 0
        }
    }

    &::before{
        content: '';
        background-color: #2F3B59;
        opacity: 75%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        z-index: -1;
    }
    
}

.maps {
    margin: 100px 0;

    img{
        width: 100%;
        height: auto;
    }

    &__info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        margin: 100px 0;

        h2{
            color: variable.$color-dark-navy
        }
    }
}

