@use './variable.scss';


.picture__section {
    background-image: url("./assets/images/carrefour.png");
    background-position-y: 96%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    // align-items: center;
    z-index: 1;
    margin-top: 96px;

    .container__intro{
        // display: grid;
        // grid-template-columns: 1.7fr 0.3fr;
        margin: auto;
        width: 1106px;


        h1{
            color: variable.$color-white;
        }

        img{
            position: absolute;
            top: 35%;
            right: 0;
        }
    }

    &::before{
        content: '';
        background-color: #2F3B59;
        opacity: 75%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        z-index: -1;
    }
    
}

.maps {
    margin: 100px 0;
    position: relative;
    img{
        max-width: 100%;
    }

    &__info{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1.4fr 0.6fr;
        gap: 50px;
        margin: 100px 0;

        p{
            max-width: 445px;
        }

        h2{
            color: variable.$color-dark-navy
        }

        a:hover, a:focus {
            line-height: 50px;
        }

    }

    .forme{
        display: flex;
        flex-direction: column;
        position: absolute;
        

        .rectangle {
            background-color: variable.$color-yellow;
            text-align: center;
            width: 189px;
            height: 72px;
            
            h4{
                line-height: 72px;
            }
        }
        
        .triangle {
            width: 0;
            height: 0;
            border-left: 16px solid transparent; 
            border-right: 16px solid transparent; 
            border-top: 16px solid variable.$color-yellow;
            margin: 0 auto; 
        }

    }

    .point {
        display: none;
    }

}

.list-city {
    display: none;
}

.london {
    top: 2%;
    left: 35.8%;
}

.newyork{
    top: 61px;
    left: 155px;
}

.yokohama{
    top: 79.6px;
    right: 63.2px;
}

.jakarta{
    bottom: 207px;
    right: 141px;
}




