@use './res-variable-mobile.scss';

@media screen and (max-width: 376px) {
    header {
        height: 64px;
    }
    header .container {
        width: 312px;
        height: inherit;
        margin: 0 39px; 
        justify-content: flex-start;
    }
    .nav-header, .header-right {
        display: none !important;
    }
    img {
        width: 75px;
        height: 20px;
    }
    header .header-left .nav__hamburger {
        display: block;
        width: 20px;
        height: 16px;
    }
    header .header-left {
        gap: 98px;
    }
    
    header .header-left a img {
        width: 75px;
        height: auto;
    }

    .x{
        display: none;
        width: 20px !important;
        height: 16px !important;
    }

    .mobile{
        display: none;
        position: absolute;
        background-color: #333A44;
        width: 70vw;
        height: 100vh;
        top: 100%;
        left: 0;
    }

    .mobile__container{
        display: flex;
        width: inherit;
        height: calc(100% - 64px);
        flex-direction: column;
        justify-content: space-between;
    }
}