@use './res-variable-mobile.scss';

@media screen and (max-width: 376px) {
    .second-section-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .second-section-container .second-section-child h1 {
        text-align: center;
    }

    .second-section-container .second-section-child p {
        text-align: center;
    }

    .second-section-container .second-section-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-section-container .circle-img-right::before {
        left: 550px;
    }

    .join .flex_join {
        flex-direction: column;
        align-items: center;
    }

    .grid__apply {
        margin-top: 89px;
        margin-bottom: 120px;
    }

    .grid__apply .box {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 16px;
        padding: 36px 32px 32px 32px;
    }

    .grid__apply .box .button {
        width: 100%;
    }

}