@use './res-variable-mobile.scss';
// TODO: path to variable scss
$color-yellow-opacity: hsla(40, 97%, 58%, 15%);
$color-yellow: #FCB72B;


@media screen and (max-width: 376px) {
    .picture__section {
        height: 160px;
        background-position-y: 100%;
        background-position-x: center;
        background-size: 170%;
        justify-content: center;
        margin-top: 64px;
    }
    .picture__section .container__intro {
        width: auto;
        justify-content: center;
        // margin: auto;
        text-align: center;
        grid-template-columns: 1fr;
        
    }
    .picture__section .container__intro img {
        display: none;
    }

    .maps {
        margin: 72px 0 40px 0;
    }

    .maps .forme {
        display: none;
    }

    .world-map {
        width: 100%;
        height: auto;
        // position: relative;
    }



    .maps__info {
        height: 306px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
        gap: 32px;
        margin: 72px 0;
        position: relative;
    }

    .list-city {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .list-city-child {
        background-color: $color-yellow-opacity;
        text-align: center;
        padding: 22px 0;
    }
    .maps .point {
        display: block;
        width: 16px;
        height: 16px;
        background-color: $color-yellow;
        border-radius: 50%;
        // display: flex;
        // flex-direction: column;
        position: absolute;

    }
    .london {
        top: 15%;
        left: 40.5%;
    }

    .newyork {
        top: 18%;
        left: 22%;
    }

    .yokohama {
        top: 26%;
        right: 11%;
    }

    .jakarta {
        top: 55%;
        right: 18%
    }


    
    // .picture__section{
    //     background-position-y: 95%;
    //     background-position-x: 55%;
    //     background-size: 256%;
    // }

    // .maps__info p {
    //     max-width: 573px;
    //     text-align: center;
    // }


    // .picture__section .container__intro h1 {
    //     color: #FFFFFF;
    //     margin-left: 100px;
    // }


    // .maps__info {
    //     display: flex;
    //     flex-direction: column;

    //     h2{
    //         max-width: 457px;
    //         text-align: center;
    //     }
    // }

    // .maps .forme .rectangle {
    //     background-color: #fcb62b;
    //     text-align: center;
    //     width: 120px;
    //     height: 32px;
    // }

    // .maps .forme .rectangle h4{
    //     font-size: 13px;
    //     font-weight: 700;
    //     line-height: 28px;
    //     letter-spacing: -0.5803571343421936px;
    // }
    

    // .picture__section .container__intro {
    //     display: grid;
    //     grid-template-columns: 1.7fr 0.3fr;
    //     margin: auto;
    //     width: 768px;
    // }

    // .maps .forme .triangle {
    //     border-left: 8px solid transparent;
    //     border-right: 8px solid transparent;
    //     border-top: 8px solid #fcb62b;
    // }



    // .london {
    //     top: 7%;
    //     left: 35.4%;
    // }

    // .newyork {
    //     top: 15.8%;
    //     left: 13.5%;
    // }

    // .jakarta {
    //     bottom: 38%;
    //     right: 12.3%;
    // }

    // .yokohama {
    //     bottom: 38.4%;
    //     right: 12.9%;
    // }
}