
$color-yellow: #fcb62b;
$color-dark-navy: #495567;
$color-dim-gray: #939CAA;
$color-light-grey: #E5ECF4;
$color-snow: #F2F5F9;
$color-light-yellow: #FFF4DF;
$color-footer: #333A44;
$color-white: #FFFFFF;
$color-light-grey: #E5ECF4;

@media screen and (max-width: 376px) {
    .container {
        max-width: 375px;
        margin: 0 39px;
    }

    a{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $color-light-grey;

    }

    h1 {
        font-size: 40px;
        line-height: 40px;;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }
}