@use './res-variable-mobile.scss';


@media screen and (max-width: 768px) {
    .second-section-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .second-section-container .second-section-child h1 {
        text-align: center;
    }

    .second-section-container .second-section-child p {
        text-align: center;
    }

    .second-section-container .second-section-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-section-container .arrow-down-left::after {
        left: -75px;
    }

    .second-section-container .circle-img-right::before {
        left: 550px;
    }

    .join .flex_join {
        flex-direction: column;
        align-items: center;
    }

}