@use './res-variable.scss';

@media screen and (max-width: 768px) {
    
    .picture__section{
        background-position-y: 95%;
        background-position-x: 55%;
        background-size: 256%;
    }

    .maps__info p {
        max-width: 573px;
        text-align: center;
    }


    .picture__section .container__intro h1 {
        color: #FFFFFF;
        margin-left: 100px;
    }


    .maps__info {
        display: flex;
        flex-direction: column;

        h2{
            max-width: 457px;
            text-align: center;
        }
    }

    .forme .rectangle {
        width: 120px;
        height: 32px;

        
        h4{
            width: 45px;
            height: 28px;
            text-align: center;
            line-height: 72px;
        }
    }
    

    .picture__section .container__intro {
        display: grid;
        grid-template-columns: 1.7fr 0.3fr;
        margin: auto;
        width: 768px;
    }
}