
$color-grey-light-bar: #E5ECF4;

@media screen and (min-width: 376px) and (max-width: 768px) {
    .container {
        max-width: 768px;
        // overflow-x: hidden;
        height: auto;
    }

}
