@use './res-variable.scss';

@media screen and (max-width: 768px) {


    .container.main-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro .container .content-p p::after {
        display: none;
    }

    .intro .container .content-h1 h1 {
        width: 573px;
        text-align: center;
    }

    .intro .container .content-p {
        padding-left: 0;
        width: 573px;
        text-align: center;
        align-items: center;
    }

    .intro .container .content-p::after {
        top: 163px;
        left: -222px
    }

    .intro .container::after {
        top: 543px;
    }

    .intro .container .content-h1 {
        width: 573px;
    }
    
    .intro {
        background-position-x: 75%;
        margin: 96px 0 0 0;
    }

    .first-section {
        margin: 0px 97px;
    }

    .first-section::before {
        width: 15px;
        height: 784px;
        background: res-variable.$color-grey-light-bar;
        top: 746px;
        right: 615px;
        position: absolute;
    }

    .first-section .first-section-container {
        grid-template-columns: 1fr;
        margin-top: 125px;
        margin-bottom: 150px;
    }


    .grid1:nth-child(1) {
        order: 6 !important;
    }
    .grid2:nth-child(2) {
        order: 6 !important;
    }

    .grid3:nth-child(3) {
        order: 5 !important;
    }
    .grid4:nth-child(4) {
        order: 3 !important;
    }

    .grid5:nth-child(5) {
        order: 1 !important;
    }

    .grid6:nth-child(6) {
        order: 2 !important;
    }







}