@import './res-variable.scss';

@media screen and (max-width: 768px) {

    .picture__section__about .container__intro {
        width: 768px;
    }

    .picture__section__about .container__intro h1 {
        margin-left: 100px;
    }

    .second-section-container .second-section-child {
       display: flex;
    }

    .second-section-container .second-section-child:nth-child(3) {
        order: 1;
    }

    .second-section-container .second-section-child:nth-child(4) {
        order: 0;
    }

    .second-section-container .second-section-child:nth-child(2) {
        order: 2;
    }
    
    .second-section-container .second-section-child:nth-child(1) {
        order: 2;
    }

    .FAQs .FAQs-container {
        grid-template-columns: auto;
    }

    .FAQs .FAQs-container .FAQs-child h3 {
        text-align: center;
    }


    .second-section-container .arrow-up-left::after {
        left: -50px;
    }


    .second-section-container .circle-img-right::before {
        left: 600px;
    }

    .FAQs {
        margin: 160px 39px;
    }

}