@use './res-variable.scss';

@media screen and (min-width: 375px) and (max-width: 768px) {
    header {
        width: auto;
        .container {
            width: 100%;
            margin: 0 39px; 
        }
    }
}